body {
    background-color: #dee2e5;
	padding: 10px;
	max-width: 1800px;
}
h1 {
    color: #125b8c;
	font-family: 'Montserrat', sans-serif;
	font-size: 120%;
	padding: 3px;
	margin: 10px;
}

h2 {
    color: black;
	font-family: 'Montserrat', sans-serif;
	font-size: 100%;
	padding: 5px;
	margin: 10px;	
}

p {
    color: #23221c;
	font-family: 'Karla', sans-serif;
	font-size: 100%;
	padding: 5px;
	text-indent: 20px;
	margin: 5px;
	margin-left: 15px;
}

 table {
    margin: 3 auto;
  }
  
img {
    border-radius: 8px;
}

.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.column {
    float: left;
    background-color: white;
	padding: 3px;
	box-shadow: 1px 1px 5px grey;
}

.empty {
	opacity: 0;
	padding: 7px;
}

.left {
    width: 25%;
	padding: 3px;
}

.right {
	width: 70%;
	padding: 3px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}